<!DOCTYPE html>
<!--[if !(IE 6) | !(IE 7) | !(IE 8)  ]><!-->
<html lang="es" class="no-js">
<!--<![endif]-->
<head>
	<meta charset="UTF-8" />
		<meta name="viewport" content="width=device-width, initial-scale=1, maximum-scale=1, user-scalable=0">
		<meta name="theme-color" content="#3d5e93"/>	<link rel="profile" href="https://gmpg.org/xfn/11" />
      <script>
  const changeCurrentImage = (imageUrl) => {
    if (!imageUrl) return;

    document.querySelector('#imageOfModal').setAttribute('src', imageUrl);
  };

  const openModal = (imageUrl) => {};

  const setModalVisibility = (show) => {
    document.querySelector('#modal').style.display = show ? 'block' : 'none';
  };

  const isModalVisible = () => {
    return document.querySelector('#modal').style.display === 'block';
  };

  document.addEventListener(
    'click',
    function (event) {
      if (
        !event.target.closest('#modalDialog') ||
        event.target.closest('.button-close-modal')
      ) {
        setModalVisibility(false);
      }

      if (!event.target.closest('.modalDialog')) {
        changeCurrentImage(
          event.target.closest('.openModal').getAttribute('src')
        );

        setModalVisibility(true);
      }
    },
    false
  );
</script>

	        <script type="text/javascript">
            if (/Android|webOS|iPhone|iPad|iPod|BlackBerry|IEMobile|Opera Mini/i.test(navigator.userAgent)) {
                var originalAddEventListener = EventTarget.prototype.addEventListener,
                    oldWidth = window.innerWidth;

                EventTarget.prototype.addEventListener = function (eventName, eventHandler, useCapture) {
                    if (eventName === "resize") {
                        originalAddEventListener.call(this, eventName, function (event) {
                            if (oldWidth === window.innerWidth) {
                                return;
                            }
                            else if (oldWidth !== window.innerWidth) {
                                oldWidth = window.innerWidth;
                            }
                            if (eventHandler.handleEvent) {
                                eventHandler.handleEvent.call(this, event);
                            }
                            else {
                                eventHandler.call(this, event);
                            };
                        }, useCapture);
                    }
                    else {
                        originalAddEventListener.call(this, eventName, eventHandler, useCapture);
                    };
                };
            };
        </script>
		<title>{{title}} &#8211; MADEDERA LOS TRONCOS</title>
<meta name='robots' content='max-image-preview:large' />
<link rel='dns-prefetch' href='https://fonts.googleapis.com/' />
<link rel='dns-prefetch' href='https://s.w.org/' />
<link rel="alternate" type="application/rss+xml" title="MADEDERA LOS TRONCOS &raquo; Feed" href="../../feed/index.html" />
<link rel="alternate" type="application/rss+xml" title="MADEDERA LOS TRONCOS &raquo; Feed de los comentarios" href="../../comments/feed/index.html" />
		<script type="text/javascript">
			window._wpemojiSettings = {"baseUrl":"https:\/\/s.w.org\/images\/core\/emoji\/13.0.1\/72x72\/","ext":".png","svgUrl":"https:\/\/s.w.org\/images\/core\/emoji\/13.0.1\/svg\/","svgExt":".svg","source":{"concatemoji":"\/wp-includes\/js\/wp-emoji-release.min.js?ver=5.7.4"}};
			!function(e,a,t){var n,r,o,i=a.createElement("canvas"),p=i.getContext&&i.getContext("2d");function s(e,t){var a=String.fromCharCode;p.clearRect(0,0,i.width,i.height),p.fillText(a.apply(this,e),0,0);e=i.toDataURL();return p.clearRect(0,0,i.width,i.height),p.fillText(a.apply(this,t),0,0),e===i.toDataURL()}function c(e){var t=a.createElement("script");t.src=e,t.defer=t.type="text/javascript",a.getElementsByTagName("head")[0].appendChild(t)}for(o=Array("flag","emoji"),t.supports={everything:!0,everythingExceptFlag:!0},r=0;r<o.length;r++)t.supports[o[r]]=function(e){if(!p||!p.fillText)return!1;switch(p.textBaseline="top",p.font="600 32px Arial",e){case"flag":return s([127987,65039,8205,9895,65039],[127987,65039,8203,9895,65039])?!1:!s([55356,56826,55356,56819],[55356,56826,8203,55356,56819])&&!s([55356,57332,56128,56423,56128,56418,56128,56421,56128,56430,56128,56423,56128,56447],[55356,57332,8203,56128,56423,8203,56128,56418,8203,56128,56421,8203,56128,56430,8203,56128,56423,8203,56128,56447]);case"emoji":return!s([55357,56424,8205,55356,57212],[55357,56424,8203,55356,57212])}return!1}(o[r]),t.supports.everything=t.supports.everything&&t.supports[o[r]],"flag"!==o[r]&&(t.supports.everythingExceptFlag=t.supports.everythingExceptFlag&&t.supports[o[r]]);t.supports.everythingExceptFlag=t.supports.everythingExceptFlag&&!t.supports.flag,t.DOMReady=!1,t.readyCallback=function(){t.DOMReady=!0},t.supports.everything||(n=function(){t.readyCallback()},a.addEventListener?(a.addEventListener("DOMContentLoaded",n,!1),e.addEventListener("load",n,!1)):(e.attachEvent("onload",n),a.attachEvent("onreadystatechange",function(){"complete"===a.readyState&&t.readyCallback()})),(n=t.source||{}).concatemoji?c(n.concatemoji):n.wpemoji&&n.twemoji&&(c(n.twemoji),c(n.wpemoji)))}(window,document,window._wpemojiSettings);
		</script>
		<style type="text/css">
img.wp-smiley,
img.emoji {
	display: inline !important;
	border: none !important;
	box-shadow: none !important;
	height: 1em !important;
	width: 1em !important;
	margin: 0 .07em !important;
	vertical-align: -0.1em !important;
	background: none !important;
	padding: 0 !important;
}
</style>
	<link rel='stylesheet' id='wp-block-library-css'  href='../../wp-includes/css/dist/block-library/style.min.css%3Fver=5.7.4.css' type='text/css' media='all' />
<link rel='stylesheet' id='wp-block-library-theme-css'  href='../../wp-includes/css/dist/block-library/theme.min.css%3Fver=5.7.4.css' type='text/css' media='all' />
<link rel='stylesheet' id='ccw_main_css-css'  href='../../wp-content/plugins/click-to-chat-for-whatsapp/prev/assets/css/mainstyles.css%3Fver=3.2.9.css' type='text/css' media='all' />
<link rel='stylesheet' id='contact-form-7-css'  href='../../wp-content/plugins/contact-form-7/includes/css/styles.css%3Fver=5.4.css' type='text/css' media='all' />
<link rel='stylesheet' id='rs-plugin-settings-css'  href='../../wp-content/plugins/revslider/public/assets/css/settings.css%3Fver=5.4.8.3.css' type='text/css' media='all' />
<style id='rs-plugin-settings-inline-css' type='text/css'>
#rs-demo-id {}
</style>
<link rel='stylesheet' id='the7-Defaults-css'  href='../../wp-content/uploads/smile_fonts/Defaults/Defaults.css%3Fver=5.7.4.css' type='text/css' media='all' />
<link rel='stylesheet' id='js_composer_front-css'  href='../../wp-content/plugins/js_composer/assets/css/js_composer.min.css%3Fver=5.7.css' type='text/css' media='all' />
<link rel='stylesheet' id='dt-web-fonts-css'  href='https://fonts.googleapis.com/css?family=Roboto%3A400%2C500%2C600%2C700%7CRoboto+Condensed%3A400%2C600%2C700%7CPoppins%3A300%2C400%2C600%2C700&amp;ver=7.6.0' type='text/css' media='all' />
<link rel='stylesheet' id='dt-main-css'  href='../../wp-content/themes/dt-the7/css/main.min.css%3Fver=7.6.0.css' type='text/css' media='all' />
<style id='dt-main-inline-css' type='text/css'>
body #load {
  display: block;
  height: 100%;
  overflow: hidden;
  position: fixed;
  width: 100%;
  z-index: 9901;
  opacity: 1;
  visibility: visible;
  -webkit-transition: all .35s ease-out;
  transition: all .35s ease-out;
}
.load-wrap {
  width: 100%;
  height: 100%;
  background-position: center center;
  background-repeat: no-repeat;
  text-align: center;
}
.load-wrap > svg {
  position: absolute;
  top: 50%;
  left: 50%;
  -ms-transform: translate(-50%,-50%);
  -webkit-transform: translate(-50%,-50%);
  transform: translate(-50%,-50%);
}
#load {
  background-color: #ffffff;
}
.uil-default rect:not(.bk) {
  fill: #1d5e96;
}
.uil-ring > path {
  fill: #1d5e96;
}
.ring-loader .circle {
  fill: #1d5e96;
}
.ring-loader .moving-circle {
  fill: #1d5e96;
}
.uil-hourglass .glass {
  stroke: #1d5e96;
}
.uil-hourglass .sand {
  fill: #1d5e96;
}
.spinner-loader .load-wrap {
  background-image: url("data:image/svg+xml,%3Csvg width='75px' height='75px' xmlns='http://www.w3.org/2000/svg' viewBox='0 0 100 100' preserveAspectRatio='xMidYMid' class='uil-default'%3E%3Crect x='0' y='0' width='100' height='100' fill='none' class='bk'%3E%3C/rect%3E%3Crect  x='46.5' y='40' width='7' height='20' rx='5' ry='5' fill='%231d5e96' transform='rotate(0 50 50) translate(0 -30)'%3E  %3Canimate attributeName='opacity' from='1' to='0' dur='1s' begin='0s' repeatCount='indefinite'/%3E%3C/rect%3E%3Crect  x='46.5' y='40' width='7' height='20' rx='5' ry='5' fill='%231d5e96' transform='rotate(30 50 50) translate(0 -30)'%3E  %3Canimate attributeName='opacity' from='1' to='0' dur='1s' begin='0.08333333333333333s' repeatCount='indefinite'/%3E%3C/rect%3E%3Crect  x='46.5' y='40' width='7' height='20' rx='5' ry='5' fill='%231d5e96' transform='rotate(60 50 50) translate(0 -30)'%3E  %3Canimate attributeName='opacity' from='1' to='0' dur='1s' begin='0.16666666666666666s' repeatCount='indefinite'/%3E%3C/rect%3E%3Crect  x='46.5' y='40' width='7' height='20' rx='5' ry='5' fill='%231d5e96' transform='rotate(90 50 50) translate(0 -30)'%3E  %3Canimate attributeName='opacity' from='1' to='0' dur='1s' begin='0.25s' repeatCount='indefinite'/%3E%3C/rect%3E%3Crect  x='46.5' y='40' width='7' height='20' rx='5' ry='5' fill='%231d5e96' transform='rotate(120 50 50) translate(0 -30)'%3E  %3Canimate attributeName='opacity' from='1' to='0' dur='1s' begin='0.3333333333333333s' repeatCount='indefinite'/%3E%3C/rect%3E%3Crect  x='46.5' y='40' width='7' height='20' rx='5' ry='5' fill='%231d5e96' transform='rotate(150 50 50) translate(0 -30)'%3E  %3Canimate attributeName='opacity' from='1' to='0' dur='1s' begin='0.4166666666666667s' repeatCount='indefinite'/%3E%3C/rect%3E%3Crect  x='46.5' y='40' width='7' height='20' rx='5' ry='5' fill='%231d5e96' transform='rotate(180 50 50) translate(0 -30)'%3E  %3Canimate attributeName='opacity' from='1' to='0' dur='1s' begin='0.5s' repeatCount='indefinite'/%3E%3C/rect%3E%3Crect  x='46.5' y='40' width='7' height='20' rx='5' ry='5' fill='%231d5e96' transform='rotate(210 50 50) translate(0 -30)'%3E  %3Canimate attributeName='opacity' from='1' to='0' dur='1s' begin='0.5833333333333334s' repeatCount='indefinite'/%3E%3C/rect%3E%3Crect  x='46.5' y='40' width='7' height='20' rx='5' ry='5' fill='%231d5e96' transform='rotate(240 50 50) translate(0 -30)'%3E  %3Canimate attributeName='opacity' from='1' to='0' dur='1s' begin='0.6666666666666666s' repeatCount='indefinite'/%3E%3C/rect%3E%3Crect  x='46.5' y='40' width='7' height='20' rx='5' ry='5' fill='%231d5e96' transform='rotate(270 50 50) translate(0 -30)'%3E  %3Canimate attributeName='opacity' from='1' to='0' dur='1s' begin='0.75s' repeatCount='indefinite'/%3E%3C/rect%3E%3Crect  x='46.5' y='40' width='7' height='20' rx='5' ry='5' fill='%231d5e96' transform='rotate(300 50 50) translate(0 -30)'%3E  %3Canimate attributeName='opacity' from='1' to='0' dur='1s' begin='0.8333333333333334s' repeatCount='indefinite'/%3E%3C/rect%3E%3Crect  x='46.5' y='40' width='7' height='20' rx='5' ry='5' fill='%231d5e96' transform='rotate(330 50 50) translate(0 -30)'%3E  %3Canimate attributeName='opacity' from='1' to='0' dur='1s' begin='0.9166666666666666s' repeatCount='indefinite'/%3E%3C/rect%3E%3C/svg%3E");
}
.ring-loader .load-wrap {
  background-image: url("data:image/svg+xml,%3Csvg xmlns='http://www.w3.org/2000/svg' viewBox='0 0 32 32' width='72' height='72' fill='%231d5e96'%3E   %3Cpath opacity='.25' d='M16 0 A16 16 0 0 0 16 32 A16 16 0 0 0 16 0 M16 4 A12 12 0 0 1 16 28 A12 12 0 0 1 16 4'/%3E   %3Cpath d='M16 0 A16 16 0 0 1 32 16 L28 16 A12 12 0 0 0 16 4z'%3E     %3CanimateTransform attributeName='transform' type='rotate' from='0 16 16' to='360 16 16' dur='0.8s' repeatCount='indefinite' /%3E   %3C/path%3E %3C/svg%3E");
}
.hourglass-loader .load-wrap {
  background-image: url("data:image/svg+xml,%3Csvg xmlns='http://www.w3.org/2000/svg' viewBox='0 0 32 32' width='72' height='72' fill='%231d5e96'%3E   %3Cpath transform='translate(2)' d='M0 12 V20 H4 V12z'%3E      %3Canimate attributeName='d' values='M0 12 V20 H4 V12z; M0 4 V28 H4 V4z; M0 12 V20 H4 V12z; M0 12 V20 H4 V12z' dur='1.2s' repeatCount='indefinite' begin='0' keytimes='0;.2;.5;1' keySplines='0.2 0.2 0.4 0.8;0.2 0.6 0.4 0.8;0.2 0.8 0.4 0.8' calcMode='spline'  /%3E   %3C/path%3E   %3Cpath transform='translate(8)' d='M0 12 V20 H4 V12z'%3E     %3Canimate attributeName='d' values='M0 12 V20 H4 V12z; M0 4 V28 H4 V4z; M0 12 V20 H4 V12z; M0 12 V20 H4 V12z' dur='1.2s' repeatCount='indefinite' begin='0.2' keytimes='0;.2;.5;1' keySplines='0.2 0.2 0.4 0.8;0.2 0.6 0.4 0.8;0.2 0.8 0.4 0.8' calcMode='spline'  /%3E   %3C/path%3E   %3Cpath transform='translate(14)' d='M0 12 V20 H4 V12z'%3E     %3Canimate attributeName='d' values='M0 12 V20 H4 V12z; M0 4 V28 H4 V4z; M0 12 V20 H4 V12z; M0 12 V20 H4 V12z' dur='1.2s' repeatCount='indefinite' begin='0.4' keytimes='0;.2;.5;1' keySplines='0.2 0.2 0.4 0.8;0.2 0.6 0.4 0.8;0.2 0.8 0.4 0.8' calcMode='spline' /%3E   %3C/path%3E   %3Cpath transform='translate(20)' d='M0 12 V20 H4 V12z'%3E     %3Canimate attributeName='d' values='M0 12 V20 H4 V12z; M0 4 V28 H4 V4z; M0 12 V20 H4 V12z; M0 12 V20 H4 V12z' dur='1.2s' repeatCount='indefinite' begin='0.6' keytimes='0;.2;.5;1' keySplines='0.2 0.2 0.4 0.8;0.2 0.6 0.4 0.8;0.2 0.8 0.4 0.8' calcMode='spline' /%3E   %3C/path%3E   %3Cpath transform='translate(26)' d='M0 12 V20 H4 V12z'%3E     %3Canimate attributeName='d' values='M0 12 V20 H4 V12z; M0 4 V28 H4 V4z; M0 12 V20 H4 V12z; M0 12 V20 H4 V12z' dur='1.2s' repeatCount='indefinite' begin='0.8' keytimes='0;.2;.5;1' keySplines='0.2 0.2 0.4 0.8;0.2 0.6 0.4 0.8;0.2 0.8 0.4 0.8' calcMode='spline' /%3E   %3C/path%3E %3C/svg%3E");
}

</style>
<link rel='stylesheet' id='dt-awsome-fonts-back-css'  href='../../wp-content/themes/dt-the7/fonts/FontAwesome/back-compat.min.css%3Fver=7.6.0.css' type='text/css' media='all' />
<link rel='stylesheet' id='dt-awsome-fonts-css'  href='../../wp-content/themes/dt-the7/fonts/FontAwesome/css/all.min.css%3Fver=7.6.0.css' type='text/css' media='all' />
<link rel='stylesheet' id='dt-fontello-css'  href='../../wp-content/themes/dt-the7/fonts/fontello/css/fontello.min.css%3Fver=7.6.0.css' type='text/css' media='all' />
<link rel='stylesheet' id='the7pt-static-css'  href='../../wp-content/plugins/dt-the7-core/assets/css/post-type.min.css%3Fver=7.6.0.css' type='text/css' media='all' />
<link rel='stylesheet' id='dt-custom-css'  href='../../wp-content/uploads/the7-css/custom.css%3Fver=1cc550d7d52b.css' type='text/css' media='all' />
<link rel='stylesheet' id='dt-media-css'  href='../../wp-content/uploads/the7-css/media.css%3Fver=1cc550d7d52b.css' type='text/css' media='all' />
<link rel='stylesheet' id='dt-legacy-css'  href='../../wp-content/uploads/the7-css/legacy.css%3Fver=1cc550d7d52b.css' type='text/css' media='all' />
<link rel='stylesheet' id='the7pt.less-css'  href='../../wp-content/uploads/the7-css/post-type-dynamic.css%3Fver=1cc550d7d52b.css' type='text/css' media='all' />
<link rel='stylesheet' id='style-css'  href='../../wp-content/themes/dt-the7-child/style.css%3Fver=7.6.0.css' type='text/css' media='all' />
<link rel='stylesheet' id='ultimate-google-fonts-css'  href='https://fonts.googleapis.com/css?family=Poppins:regular,800' type='text/css' media='all' />
<link rel='stylesheet' id='ultimate-style-css'  href='../../wp-content/plugins/Ultimate_VC_Addons/assets/min-css/style.min.css%3Fver=3.19.0.css' type='text/css' media='all' />
<link rel='stylesheet' id='ultimate-headings-style-css'  href='../../wp-content/plugins/Ultimate_VC_Addons/assets/min-css/headings.min.css%3Fver=3.19.0.css' type='text/css' media='all' />
<script type='text/javascript' src='../../wp-includes/js/jquery/jquery.min.js%3Fver=3.5.1' id='jquery-core-js'></script>
<script type='text/javascript' src='../../wp-includes/js/jquery/jquery-migrate.min.js%3Fver=3.3.2' id='jquery-migrate-js'></script>
<script type='text/javascript' src='../../wp-content/plugins/revslider/public/assets/js/jquery.themepunch.tools.min.js%3Fver=5.4.8.3' id='tp-tools-js'></script>
<script type='text/javascript' src='../../wp-content/plugins/revslider/public/assets/js/jquery.themepunch.revolution.min.js%3Fver=5.4.8.3' id='revmin-js'></script>
<script type='text/javascript' src='../../wp-content/plugins/stop-user-enumeration/frontend/js/frontend.js%3Fver=1.3.29' id='stop-user-enumeration-js'></script>
<script type='text/javascript' id='dt-above-fold-js-extra'>
/* <![CDATA[ */
var dtLocal = {"themeUrl":"\/wp-content\/themes\/dt-the7","passText":"Para ver esta publicaci\u00f3n protegida, introduce la contrase\u00f1a debajo:","moreButtonText":{"loading":"Cargando...","loadMore":"Cargar m\u00e1s"},"postID":"298","ajaxurl":"\/wp-admin\/admin-ajax.php","contactMessages":{"required":"One or more fields have an error. Please check and try again.","terms":"Please accept the privacy policy."},"ajaxNonce":"d797d32fb9","pageData":{"type":"page","template":"page","layout":null},"themeSettings":{"smoothScroll":"off","lazyLoading":false,"accentColor":{"mode":"solid","color":"#3d5e93"},"desktopHeader":{"height":""},"floatingHeader":{"showAfter":140,"showMenu":true,"height":60,"logo":{"showLogo":true,"html":"<img class=\" preload-me\" src=\"\/wp-content\/uploads\/2019\/08\/flotablanco300.png\" srcset=\"\/wp-content\/uploads\/2019\/08\/flotablanco300.png 300w, \/wp-content\/uploads\/2019\/08\/flotablanco300.png 300w\" width=\"300\" height=\"300\"   sizes=\"300px\" alt=\"MADEDERA LOS TRONCOS\" \/>","url":"\/"}},"mobileHeader":{"firstSwitchPoint":1050,"secondSwitchPoint":778,"firstSwitchPointHeight":80,"secondSwitchPointHeight":60},"stickyMobileHeaderFirstSwitch":{"logo":{"html":"<img class=\" preload-me\" src=\"\/wp-content\/uploads\/2019\/08\/blanco300.png\" srcset=\"\/wp-content\/uploads\/2019\/08\/blanco300.png 300w, \/wp-content\/uploads\/2019\/08\/blanco300.png 300w\" width=\"300\" height=\"66\"   sizes=\"300px\" alt=\"MADEDERA LOS TRONCOS\" \/>"}},"stickyMobileHeaderSecondSwitch":{"logo":{"html":"<img class=\" preload-me\" src=\"\/wp-content\/uploads\/2019\/08\/blanco300.png\" srcset=\"\/wp-content\/uploads\/2019\/08\/blanco300.png 300w, \/wp-content\/uploads\/2019\/08\/blanco300.png 300w\" width=\"300\" height=\"66\"   sizes=\"300px\" alt=\"MADEDERA LOS TRONCOS\" \/>"}},"content":{"textColor":"#000000","headerColor":"#000000"},"sidebar":{"switchPoint":990},"boxedWidth":"1340px","stripes":{"stripe1":{"textColor":"#787d85","headerColor":"#3b3f4a"},"stripe2":{"textColor":"#8b9199","headerColor":"#ffffff"},"stripe3":{"textColor":"#ffffff","headerColor":"#ffffff"}}},"VCMobileScreenWidth":"768"};
var dtShare = {"shareButtonText":{"facebook":"Compartir en Facebook","twitter":"Tweet","pinterest":"Tweet","linkedin":"Compartir en Linkedin","whatsapp":"Compartir en Whatsapp","google":"Compartir en Google Plus"},"overlayOpacity":"85"};
/* ]]> */
</script>
<script type='text/javascript' src='../../wp-content/themes/dt-the7/js/above-the-fold.min.js%3Fver=7.6.0' id='dt-above-fold-js'></script>
<script type='text/javascript' src='../../wp-content/plugins/Ultimate_VC_Addons/assets/min-js/ultimate-params.min.js%3Fver=3.19.0' id='ultimate-vc-params-js'></script>
<script type='text/javascript' src='../../wp-content/plugins/Ultimate_VC_Addons/assets/min-js/headings.min.js%3Fver=3.19.0' id='ultimate-headings-script-js'></script>
<link rel="https://api.w.org/" href="../../wp-json/index.html" /><link rel="alternate" type="application/json" href="/wp-json/wp/v2/pages/298" /><link rel="EditURI" type="application/rsd+xml" title="RSD" href="../../xmlrpc.php%3Frsd" />
<link rel="wlwmanifest" type="application/wlwmanifest+xml" href="../../wp-includes/wlwmanifest.xml" /> 
<meta name="generator" content="WordPress 5.7.4" />
<link rel="canonical" href="index.html" />
<link rel='shortlink' href='/?p=298' />
<link rel="alternate" type="application/json+oembed" href="/wp-json/oembed/1.0/embed?url=https%3A%2F%2Fmadereralostroncos.com.ar%2Fnuestros-productos%2Fcountries-construccion%2Fmaderas-nativas%2F" />
<link rel="alternate" type="text/xml+oembed" href="/wp-json/oembed/1.0/embed?url=https%3A%2F%2Fmadereralostroncos.com.ar%2Fnuestros-productos%2Fcountries-construccion%2Fmaderas-nativas%2F&#038;format=xml" />
<meta property="og:site_name" content="MADEDERA LOS TRONCOS" />
<meta property="og:title" content="{{title}}" />
<meta property="og:url" content="/nuestros-productos/countries-construccion/maderas-nativas/" />
<meta property="og:type" content="article" />
<style type="text/css">.recentcomments a{display:inline !important;padding:0 !important;margin:0 !important;}</style><meta name="generator" content="Powered by WPBakery Page Builder - drag and drop page builder for WordPress."/>
<!--[if lte IE 9]><link rel="stylesheet" type="text/css" href="/wp-content/plugins/js_composer/assets/css/vc_lte_ie9.min.css" media="screen"><![endif]--><meta name="generator" content="Powered by Slider Revolution 5.4.8.3 - responsive, Mobile-Friendly Slider Plugin for WordPress with comfortable drag and drop interface." />
<script type="text/javascript">
document.addEventListener("DOMContentLoaded", function(event) { 
	var load = document.getElementById("load");
	
	if(!load.classList.contains('loader-removed')){
		var removeLoading = setTimeout(function() {
			load.className += " loader-removed";
		}, 300);
	}
});
</script>
<link rel="icon" href="../../wp-content/uploads/2019/08/fav.png" type="image/png" sizes="16x16"/><link rel="icon" href="../../wp-content/uploads/2019/08/fav.png" type="image/png" sizes="32x32"/><script type="text/javascript">function setREVStartSize(e){									
						try{ e.c=jQuery(e.c);var i=jQuery(window).width(),t=9999,r=0,n=0,l=0,f=0,s=0,h=0;
							if(e.responsiveLevels&&(jQuery.each(e.responsiveLevels,function(e,f){f>i&&(t=r=f,l=e),i>f&&f>r&&(r=f,n=e)}),t>r&&(l=n)),f=e.gridheight[l]||e.gridheight[0]||e.gridheight,s=e.gridwidth[l]||e.gridwidth[0]||e.gridwidth,h=i/s,h=h>1?1:h,f=Math.round(h*f),"fullscreen"==e.sliderLayout){var u=(e.c.width(),jQuery(window).height());if(void 0!=e.fullScreenOffsetContainer){var c=e.fullScreenOffsetContainer.split(",");if (c) jQuery.each(c,function(e,i){u=jQuery(i).length>0?u-jQuery(i).outerHeight(!0):u}),e.fullScreenOffset.split("%").length>1&&void 0!=e.fullScreenOffset&&e.fullScreenOffset.length>0?u-=jQuery(window).height()*parseInt(e.fullScreenOffset,0)/100:void 0!=e.fullScreenOffset&&e.fullScreenOffset.length>0&&(u-=parseInt(e.fullScreenOffset,0))}f=u}else void 0!=e.minHeight&&f<e.minHeight&&(f=e.minHeight);e.c.closest(".rev_slider_wrapper").css({height:f})					
						}catch(d){console.log("Failure at Presize of Slider:"+d)}						
					};</script>
		<style type="text/css" id="wp-custom-css">
			@-webkit-keyframes load7 {
 0%,
 100%,
 80% {
  box-shadow:0 2.5em 0 -1.3em rgba(27, 92, 145, .75)
 }
 40% {
  box-shadow:0 2.5em 0 0 rgba(27, 92, 145,.75)
 }
}
@keyframes load7 {
 0%,
 100%,
 80% {
  box-shadow:0 2.5em 0 -1.3em rgba(27, 92, 145, .75)
 }
 40% {
  box-shadow:0 2.5em 0 0 rgba(27, 92, 145,.75)
 }
}		</style>
		<noscript><style type="text/css"> .wpb_animate_when_almost_visible { opacity: 1; }</style></noscript><style id='the7-custom-inline-css' type='text/css'>
.space10 {
padding-left:10px;
padding-right:10px;
}

.sombra {
text-shadow: 1px 1px 1px rgba(0, 0, 0, 1);
}

.justificar {
    text-align: justify;
}

.datafiscal {
width:100px;
}

input[type="submit"] {
WIDTH: 100%;
}



.firma {
    text-align: center;
    font-size: 10px;
    line-height: 1;
    padding-top: 24px;
}

.footer .widget {
    TEXT-ALIGN: center;
}

/*----------- contacto------*/
.wpcf7-form input[type=text], .wpcf7-form input[type=tel], .wpcf7-form input[type=url], .wpcf7-form input[type=email], .wpcf7-form input[type=number], .wpcf7-form input[type=date], .wpcf7-form input[type=range], .wpcf7-select {
    width: 100%;
    height: 50px;
    border-color: #00bcd43b;
}

 .wpcf7-form textarea {
    width: 100%;
    border-color: #00bcd43b;
}


#phantom .with-logo .main-nav {
    padding-right: 50px;
}

.mini-nav {
    padding-top: 20px;
    padding-bottom: 20px;
}

.bajarcontacto {
    top: 250px;
    z-index: 10;	
}

.subirtop {
    top: -150px;
    z-index: 10;	
}

@media only screen and (max-width: 600px) {
	.subirtop {
    top: 0px;
    z-index: 0;	
}
}	

.botondonde {
background-color: #103f69!important;
padding-top: 10px;
padding-bottom: 10px;
padding-left: 50px;
padding-right: 50px;
text-decoration: none;
    cursor: pointer;
}

.botondonde:hover {
background-color: #0f3e69!important;

}



.masthead:not(.side-header).full-width .header-bar {
background: #1c5c91 url(../../wp-content/uploads/2019/08/FONDOMADERA1.jpg) repeat center center!important;
background-size: auto!important;
}

#bottom-bar .mini-nav ul {
    display: block;
    FONT-WEIGHT: 700;
}

.categorias .vc_column_container>.vc_column-inner {
    padding-left: 3px;
    padding-right: 3px;
}


.ult-new-ib .ult-new-ib-title {
    font-size: 20px;
}
</style>
</head>
<body class="page-template-default page page-id-298 page-child parent-pageid-145 wp-embed-responsive the7-core-ver-2.0.1 fancy-header-on dt-responsive-on header-side-left sticky-header fade-header-animation srcset-enabled btn-flat custom-btn-color custom-btn-hover-color sticky-mobile-header first-switch-logo-center first-switch-menu-right second-switch-logo-left second-switch-menu-right right-mobile-menu layzr-loading-on no-avatars popup-message-style dt-fa-compatibility the7-ver-7.6.0 wpb-js-composer js-comp-ver-5.7 vc_responsive">
<!-- The7 7.6.0 -->
<div id="load" class="spinner-loader">
	<div class="load-wrap"></div>
</div>
<div id="page" >
	<a class="skip-link screen-reader-text" href="index.html#content">Saltar al contenido</a>


<div class="masthead side-header slide-out widgets full-height shadow-decoration sub-downwards medium-menu-icon small-mobile-menu-icon mobile-menu-icon-bg-on dt-parent-menu-clickable" role="banner">

	<header class="header-bar">

		<div class="branding">
	<div id="site-title" class="assistive-text">MADEDERA LOS TRONCOS</div>
	<div id="site-description" class="assistive-text">MADERAS E INSUMOS PARA LA CONSTRUCCION</div>
	<a class="same-logo" href="../../index.html"><img class=" preload-me" src="../../wp-content/uploads/2019/08/flotablanco300.png" srcset="../../wp-content/uploads/2019/08/flotablanco300.png 300w, ../../wp-content/uploads/2019/08/flotablanco300.png 300w" width="300" height="300"   sizes="300px" alt="MADEDERA LOS TRONCOS" /></a></div>

		<ul id="primary-menu" class="main-nav underline-decoration l-to-r-line outside-item-remove-margin" role="menu"><li class="menu-item menu-item-type-post_type menu-item-object-page menu-item-home menu-item-16 first"><a href='../../index.html' data-level='1'><span class="menu-item-text"><span class="menu-text">INICIO</span></span></a></li> <li class="menu-item menu-item-type-post_type menu-item-object-page menu-item-356"><a href='../..//la-empresa' data-level='1'><span class="menu-item-text"><span class="menu-text">LA EMPRESA</span></span></a></li> <li class="menu-item menu-item-type-post_type menu-item-object-page current-page-ancestor menu-item-has-children menu-item-355 has-children"><a href='../../nuestros-productos' data-level='1'><span class="menu-item-text"><span class="menu-text">PRODUCTOS</span></span></a><ul class="sub-nav hover-style-bg level-arrows-on"><li class="menu-item menu-item-type-post_type menu-item-object-page current-page-ancestor menu-item-166 first"><a href='/productos/countries-construccion' data-level='2'><span class="menu-item-text"><span class="menu-text">COUNTRIES &#038; CONSTRUCCION</span></span></a></li> <li class="menu-item menu-item-type-post_type menu-item-object-page menu-item-165"><a href='/productos/elementos-de-seguridad-vial' data-level='2'><span class="menu-item-text"><span class="menu-text">ELEMENTOS DE SEGURIDAD VIAL</span></span></a></li> <li class="menu-item menu-item-type-post_type menu-item-object-page menu-item-163"><a href='/productos/invernaderos' data-level='2'><span class="menu-item-text"><span class="menu-text">INVERNADEROS</span></span></a></li> <li class="menu-item menu-item-type-post_type menu-item-object-page menu-item-164"><a href='/productos/envases/retornable' data-level='2'><span class="menu-item-text"><span class="menu-text">ENVASES</span></span></a></li> <li class="menu-item menu-item-type-post_type menu-item-object-page menu-item-162"><a href='/productos/desarrollos-especiales' data-level='2'><span class="menu-item-text"><span class="menu-text">DESARROLLOS ESPECIALES</span></span></a></li> </ul></li> <li class="menu-item menu-item-type-post_type menu-item-object-page menu-item-354"><a href='../..//donde-estamos' data-level='1'><span class="menu-item-text"><span class="menu-text">DONDE ESTAMOS</span></span></a></li> <li class="menu-item menu-item-type-post_type menu-item-object-page menu-item-174"><a href='../..//contacto' data-level='1'><span class="menu-item-text"><span class="menu-text">CONTACTO</span></span></a></li> </ul>
		
	</header>

</div>

<div class="masthead mixed-header side-header-h-stroke full-width sticky-top-line logo-center left-menu-toggle medium-menu-icon small-mobile-menu-icon mobile-menu-icon-bg-on shadow-decoration show-device-logo show-mobile-logo"  role="banner">

	<div class="top-bar line-content top-bar-empty top-bar-line-hide">
	<div class="top-bar-bg" ></div>
	<div class="mini-widgets left-widgets"></div><div class="mini-widgets right-widgets"></div></div>

	<header class="header-bar">

		<div class="branding">

	<a class="" href="../../index.html"><img class=" preload-me" src="../../wp-content/uploads/2020/10/blanco500-1.png" srcset="../../wp-content/uploads/2020/10/blanco500-1.png 500w, ../../wp-content/uploads/2020/10/blanco500-1.png 500w" width="500" height="129"   sizes="500px" alt="MADEDERA LOS TRONCOS" /><img class="mobile-logo preload-me" src="../../wp-content/uploads/2019/08/blanco300.png" srcset="../../wp-content/uploads/2019/08/blanco300.png 300w, ../../wp-content/uploads/2019/08/blanco300.png 300w" width="300" height="66"   sizes="300px" alt="MADEDERA LOS TRONCOS" /></a>
</div>
<div class="top-line-left empty-widgets"><div class="menu-toggle"><a href="index.html#">menu</a></div></div><div class="top-line-right "><div class="right-widgets mini-widgets"><div class="soc-ico show-on-desktop in-top-bar-right in-menu-second-switch custom-bg custom-border border-on hover-accent-bg hover-disabled-border  hover-border-off"><a title="Facebook" href="https://www.facebook.com/maderera.lostroncos.58" target="_blank" class="facebook"><span class="soc-font-icon"></span><span class="screen-reader-text">Facebook</span></a><a title="Instagram" href="https://www.instagram.com/madereralostroncos/?igshid=4lu82e3m5cgq" target="_blank" class="instagram"><span class="soc-font-icon"></span><span class="screen-reader-text">Instagram</span></a><a title="Mail" href="mailto: info@madereralostroncos.com.ar" target="_top" class="mail"><span class="soc-font-icon"></span><span class="screen-reader-text">Mail</span></a><a title="Google+" href="https://www.google.com/maps/place/Maderera+Los+Troncos+S.A./@-34.8941087,-58.1741913,17z/data=!3m1!4b1!4m5!3m4!1s0x95bca4af67f6f1c1:0x73a50302aaabcd88!8m2!3d-34.8941131!4d-58.1720026" target="_blank" class="google"><span class="soc-font-icon"></span><span class="screen-reader-text">Google+</span></a></div></div></div>
	</header>

</div>
<div class='dt-close-mobile-menu-icon'><span></span></div>
<div class='dt-mobile-header'>
	<ul id="mobile-menu" class="mobile-main-nav" role="menu">
		<li class="menu-item menu-item-type-post_type menu-item-object-page menu-item-home menu-item-16 first"><a href='../../index.html' data-level='1'><span class="menu-item-text"><span class="menu-text">INICIO</span></span></a></li> <li class="menu-item menu-item-type-post_type menu-item-object-page menu-item-356"><a href='../..//la-empresa' data-level='1'><span class="menu-item-text"><span class="menu-text">LA EMPRESA</span></span></a></li> <li class="menu-item menu-item-type-post_type menu-item-object-page current-page-ancestor menu-item-has-children menu-item-355 has-children"><a href='../../nuestros-productos' data-level='1'><span class="menu-item-text"><span class="menu-text">PRODUCTOS</span></span></a><ul class="sub-nav hover-style-bg level-arrows-on"><li class="menu-item menu-item-type-post_type menu-item-object-page current-page-ancestor menu-item-166 first"><a href='/productos/countries-construccion' data-level='2'><span class="menu-item-text"><span class="menu-text">COUNTRIES &#038; CONSTRUCCION</span></span></a></li> <li class="menu-item menu-item-type-post_type menu-item-object-page menu-item-165"><a href='/productos/elementos-de-seguridad-vial' data-level='2'><span class="menu-item-text"><span class="menu-text">ELEMENTOS DE SEGURIDAD VIAL</span></span></a></li> <li class="menu-item menu-item-type-post_type menu-item-object-page menu-item-163"><a href='/productos/invernaderos' data-level='2'><span class="menu-item-text"><span class="menu-text">INVERNADEROS</span></span></a></li> <li class="menu-item menu-item-type-post_type menu-item-object-page menu-item-164"><a href='/productos/envases/retornable' data-level='2'><span class="menu-item-text"><span class="menu-text">ENVASES</span></span></a></li> <li class="menu-item menu-item-type-post_type menu-item-object-page menu-item-162"><a href='/productos/desarrollos-especiales' data-level='2'><span class="menu-item-text"><span class="menu-text">DESARROLLOS ESPECIALES</span></span></a></li> </ul></li> <li class="menu-item menu-item-type-post_type menu-item-object-page menu-item-354"><a href='../..//donde-estamos' data-level='1'><span class="menu-item-text"><span class="menu-text">DONDE ESTAMOS</span></span></a></li> <li class="menu-item menu-item-type-post_type menu-item-object-page menu-item-174"><a href='../..//contacto' data-level='1'><span class="menu-item-text"><span class="menu-text">CONTACTO</span></span></a></li> 	</ul>
	<div class='mobile-mini-widgets-in-menu'></div>
</div>

<style id="the7-fancy-title-css" type="text/css">
.fancy-header {
  background-image: url('../../wp-content/uploads/2019/08/FONDOMADERA1.jpg');
  background-repeat: no-repeat;
  background-position: center center;
  background-attachment: scroll;
  background-size: cover;
  background-color: #1c5c91;
}
.fancy-header .wf-wrap {
  min-height: 0px;
  padding-top: 0px;
  padding-bottom: 0px;
}
.fancy-header .fancy-title {
  font-size: 25px;
  line-height: 36px;
  color: #ffffff;
  text-transform: none;
}
.fancy-header .fancy-subtitle {
  font-size: 18px;
  line-height: 26px;
  color: #ffffff;
  text-transform: none;
}
.fancy-header .breadcrumbs {
  color: #ffffff;
}
.fancy-header-overlay {
  background: rgba(0,0,0,0.5);
}
@media screen and (max-width: 778px) {
  .fancy-header .wf-wrap {
    min-height: 70px;
  }
  .fancy-header .fancy-title {
    font-size: 30px;
    line-height: 38px;
  }
  .fancy-header .fancy-subtitle {
    font-size: 20px;
    line-height: 28px;
  }
  .fancy-header.breadcrumbs-mobile-off .breadcrumbs {
    display: none;
  }
  #fancy-header > .wf-wrap {
    -webkit-flex-flow: column wrap;
    flex-flow: column wrap;
    -webkit-align-items: center;
    align-items: center;
    -webkit-justify-content: center;
    justify-content: center;
    padding-bottom: 0px !important;
  }
  .fancy-header.title-left .breadcrumbs {
    text-align: center;
    float: none;
  }
  .breadcrumbs {
    margin-bottom: 10px;
  }
  .breadcrumbs.breadcrumbs-bg {
    margin-top: 10px;
  }
  .fancy-header.title-right .breadcrumbs {
    margin: 10px 0 10px 0;
  }
  #fancy-header .hgroup,
  #fancy-header .breadcrumbs {
    text-align: center;
  }
  .fancy-header .hgroup {
    padding-bottom: 5px;
  }
  .breadcrumbs-off .hgroup {
    padding-bottom: 5px;
  }
  .title-right .hgroup {
    padding: 0 0 5px 0;
  }
  .title-right.breadcrumbs-off .hgroup {
    padding-top: 5px;
  }
  .title-left.disabled-bg .breadcrumbs {
    margin-bottom: 0;
  }
}

</style><header id="fancy-header" class="fancy-header breadcrumbs-mobile-off title-center" >
    <div class="wf-wrap"><div class="fancy-title-head hgroup"><h1 class="fancy-title entry-title" ><span>COUNTRIES & CONSTRUCCIÓN</span></h1></div><div class="assistive-text">Estás aquí:</div><ol class="breadcrumbs text-small" xmlns:v="http://rdf.data-vocabulary.org/#"><li typeof="v:Breadcrumb"><a rel="v:url" property="v:title" href="../../index.html" title="">Inicio</a></li><li typeof="v:Breadcrumb"><a rel="v:url" property="v:title" href="../../nuestros-productos" title="">NUESTROS PRODUCTOS</a></li><li typeof="v:Breadcrumb"><a rel="v:url" property="v:title" href="/productos/countries-construccion" title="">COUNTRIES &#038; CONSTRUCCION</a></li><li class="current">{{title}}</li></ol></div>

	
</header>

<div id="main" class="sidebar-none sidebar-divider-vertical" style="padding-top:0px;" >

	
	<div class="main-gradient"></div>
	<div class="wf-wrap">
	<div class="wf-container-main">

	


	<div id="content" class="content" role="main">

		<div class="vc_row wpb_row vc_row-fluid dt-default" style="margin-top: 0px;margin-bottom: 0px"><div class="wpb_column vc_column_container vc_col-sm-12"><div class="vc_column-inner"><div class="wpb_wrapper"><div class="vc_empty_space"   style="height: 32px" ><span class="vc_empty_space_inner"></span></div>
<div id="ultimate-heading-4745619d0da102fd1" class="uvc-heading ult-adjust-bottom-margin ultimate-heading-4745619d0da102fd1 uvc-7326 " data-hspacer="no_spacer"  data-halign="center" style="text-align:center"><div class="uvc-heading-spacer no_spacer" style="top"></div><div class="uvc-main-heading ult-responsive"  data-ultimate-target='.uvc-heading.ultimate-heading-4745619d0da102fd1 h2'  data-responsive-json-new='{"font-size":"","line-height":""}' ><h2 style="font-family:&#039;Poppins&#039;;font-weight:800;color:#1b5c91;">{{title}}</h2></div></div><div class="vc_empty_space"   style="height: 32px" ><span class="vc_empty_space_inner"></span></div>
</div></div></div></div><div class="vc_row wpb_row vc_row-fluid dt-default" style="margin-top: 0px;margin-bottom: 0px"><div class="wpb_column vc_column_container vc_col-sm-12"><div class="vc_column-inner"><div class="wpb_wrapper"><div id="ultimate-heading-5803619d0da103ef4" class="uvc-heading ult-adjust-bottom-margin ultimate-heading-5803619d0da103ef4 uvc-663 " data-hspacer="no_spacer"  data-halign="center" style="text-align:center"><div class="uvc-heading-spacer no_spacer" style="top"></div><div class="uvc-sub-heading ult-responsive"  data-ultimate-target='.uvc-heading.ultimate-heading-5803619d0da103ef4 .uvc-sub-heading '  data-responsive-json-new='{"font-size":"","line-height":""}'  style="font-weight:normal;"></p>
<p></div></div><div class="vc_empty_space"   style="height: 32px" ><span class="vc_empty_space_inner"></span></div>
</div></div></div></div><div class="vc_row wpb_row vc_row-fluid dt-default" style="margin-top: 0px;margin-bottom: 0px"><div class="wpb_column vc_column_container vc_col-sm-12"><div class="vc_column-inner"><div class="wpb_wrapper"><!-- vc_grid start -->
<div class="vc_grid-container-wrapper vc_clearfix" >
	<div class="vc_grid-container vc_clearfix wpb_content_element vc_masonry_media_grid" data-initial-loading-animation="zoomIn" data-vc-grid-settings="{&quot;page_id&quot;:298,&quot;style&quot;:&quot;all-masonry&quot;,&quot;action&quot;:&quot;vc_get_vc_grid_data&quot;,&quot;shortcode_id&quot;:&quot;1603949808466-49ddc754-fea6-8&quot;,&quot;tag&quot;:&quot;vc_masonry_media_grid&quot;}" data-vc-request="./images.html" data-vc-post-id="298" data-vc-public-nonce="9201794f78">
			</div>
</div><!-- vc_grid end -->
</div></div></div></div>

	</div><!-- #content -->

	


			</div><!-- .wf-container -->
		</div><!-- .wf-wrap -->

	
	</div><!-- #main -->

	

	
	<!-- !Footer -->
	<footer id="footer" class="footer solid-bg">

		
			<div class="wf-wrap">
				<div class="wf-container-footer">
					<div class="wf-container">
						<section id="presscore-contact-info-widget-2" class="widget widget_presscore-contact-info-widget wf-cell wf-1-4"><div class="widget-title">DONDE ESTAMOS</div><ul class="contact-info"><li><span class="color-primary">CASA CENTRAL BERAZATEGUI</span><br /><i class="fa icon-location-2"></i> Colectora N 12542 C.A. El Pato</li><li><a class="botondonde" target="_blank" href="https://www.google.com/maps/place/Maderera+Los+Troncos+S.A./@-34.8941087,-58.1741913,17z/data=!3m1!4b1!4m5!3m4!1s0x95bca4af67f6f1c1:0x73a50302aaabcd88!8m2!3d-34.8941131!4d-58.1720026">VER EN EL MAPA</a></li></ul></section><section id="presscore-contact-info-widget-5" class="widget widget_presscore-contact-info-widget wf-cell wf-1-4"><div class="widget-title">SUCURSALES</div><div class="widget-info"><a class="botondonde" href="../..//donde-estamos">VER MAS SUCURSALES</a></div></section><section id="presscore-contact-info-widget-4" class="widget widget_presscore-contact-info-widget wf-cell wf-1-4"><div class="widget-title">LLAMENOS</div><div class="widget-info"><i class="fa icon-phone-outline"></i> Tel/Fax: (02229) 491-610
<br>
<i class="fa icon-mobile-4"></i> Whatsapp: 11 5405-8054</div></section><section id="presscore-contact-info-widget-3" class="widget widget_presscore-contact-info-widget wf-cell wf-1-4"><div class="widget-title">NUESTROS CORREOS</div><div class="widget-info"><i class="fa icon-mail-4"></i> <a href="../../cdn-cgi/l/email-protection.html" class="__cf_email__" data-cfemail="6801060e072805090c0d1a0d1a0904071b1c1a07060b071b460b070546091a">[email&#160;protected]</a></div></section>					</div><!-- .wf-container -->
				</div><!-- .wf-container-footer -->
			</div><!-- .wf-wrap -->

			
<!-- !Bottom-bar -->
<div id="bottom-bar" class="logo-center" role="contentinfo">
    <div class="wf-wrap">
        <div class="wf-container-bottom">

			
                <div class="wf-float-left">

					Copyright © 2019. «Madedera Los Trancos»
                </div>

			
            <div class="wf-float-right">

				<div class="mini-nav"><ul id="bottom-menu"><li class="menu-item menu-item-type-post_type menu-item-object-page menu-item-home menu-item-16 first"><a href='../../index.html' data-level='1'><span class="menu-item-text"><span class="menu-text">INICIO</span></span></a></li> <li class="menu-item menu-item-type-post_type menu-item-object-page menu-item-356"><a href='../..//la-empresa' data-level='1'><span class="menu-item-text"><span class="menu-text">LA EMPRESA</span></span></a></li> <li class="menu-item menu-item-type-post_type menu-item-object-page current-page-ancestor menu-item-has-children menu-item-355 has-children"><a href='../../nuestros-productos' data-level='1'><span class="menu-item-text"><span class="menu-text">PRODUCTOS</span></span></a><ul class="footer-sub-nav hover-style-bg level-arrows-on"><li class="menu-item menu-item-type-post_type menu-item-object-page current-page-ancestor menu-item-166 first"><a href='/productos/countries-construccion' data-level='2'><span class="menu-item-text"><span class="menu-text">COUNTRIES &#038; CONSTRUCCION</span></span></a></li> <li class="menu-item menu-item-type-post_type menu-item-object-page menu-item-165"><a href='/productos/elementos-de-seguridad-vial' data-level='2'><span class="menu-item-text"><span class="menu-text">ELEMENTOS DE SEGURIDAD VIAL</span></span></a></li> <li class="menu-item menu-item-type-post_type menu-item-object-page menu-item-163"><a href='/productos/invernaderos' data-level='2'><span class="menu-item-text"><span class="menu-text">INVERNADEROS</span></span></a></li> <li class="menu-item menu-item-type-post_type menu-item-object-page menu-item-164"><a href='/productos/envases/retornable' data-level='2'><span class="menu-item-text"><span class="menu-text">ENVASES</span></span></a></li> <li class="menu-item menu-item-type-post_type menu-item-object-page menu-item-162"><a href='/productos/desarrollos-especiales' data-level='2'><span class="menu-item-text"><span class="menu-text">DESARROLLOS ESPECIALES</span></span></a></li> </ul></li> <li class="menu-item menu-item-type-post_type menu-item-object-page menu-item-354"><a href='../..//donde-estamos' data-level='1'><span class="menu-item-text"><span class="menu-text">DONDE ESTAMOS</span></span></a></li> <li class="menu-item menu-item-type-post_type menu-item-object-page menu-item-174"><a href='../..//contacto' data-level='1'><span class="menu-item-text"><span class="menu-text">CONTACTO</span></span></a></li> </ul><div class="menu-select"><span class="customSelect1"><span class="customSelectInner">menu</span></span></div></div>
            </div>

        </div><!-- .wf-container-bottom -->
    </div><!-- .wf-wrap -->
</div><!-- #bottom-bar -->
	</footer><!-- #footer -->


	<a href="index.html#" class="scroll-top"><span class="screen-reader-text">Ir a Tienda</span></a>

</div><!-- #page -->

<!-- Click to Chat - prev - https://holithemes.com/plugins/click-to-chat/  v3.2.9 --><div class="ccw_plugin chatbot" style="bottom:10px; left:10px;" >
    <div class="ccw_style3 animated no-animation ccw-no-hover-an ">
        <a target="_blank" href="https://web.whatsapp.com/send?phone=5491154058054&text=Hola Madedera los Troncos" class="img-icon-a nofocus">   
            <img class="img-icon ccw-analytics" id="style-3" data-ccw="style-3" style="height: 64px;" src="../../wp-content/plugins/click-to-chat-for-whatsapp/new/inc/assets/img/whatsapp-logo.svg" alt="WhatsApp chat">
        </a>
    </div>
</div><link rel='stylesheet' id='prettyphoto-css'  href='../../wp-content/plugins/js_composer/assets/lib/prettyphoto/css/prettyPhoto.min.css%3Fver=5.7.css' type='text/css' media='all' />
<link rel='stylesheet' id='vc_pageable_owl-carousel-css-css'  href='../../wp-content/plugins/js_composer/assets/lib/owl-carousel2-dist/assets/owl.min.css%3Fver=5.7.css' type='text/css' media='all' />
<link rel='stylesheet' id='animate-css-css'  href='../../wp-content/plugins/js_composer/assets/lib/bower/animate-css/animate.min.css%3Fver=5.7.css' type='text/css' media='all' />
<script data-cfasync="false" src="../../cdn-cgi/scripts/5c5dd728/cloudflare-static/email-decode.min.js"></script><script type='text/javascript' src='../../wp-content/themes/dt-the7/js/main.min.js%3Fver=7.6.0' id='dt-main-js'></script>
<script type='text/javascript' id='ccw_app-js-extra'>
/* <![CDATA[ */
var ht_ccw_var = {"page_title":"{{title}}","google_analytics":"","ga_category":"","ga_action":"","ga_label":"","fb_analytics":"","fb_event_name":"","p1_value":"","p2_value":"","p3_value":"","p1_name":"","p2_name":"","p3_name":""};
/* ]]> */
</script>
<script type='text/javascript' src='../../wp-content/plugins/click-to-chat-for-whatsapp/prev/assets/js/app.js%3Fver=3.2.9' id='ccw_app-js'></script>
<script type='text/javascript' src='../../wp-includes/js/dist/vendor/wp-polyfill.min.js%3Fver=7.4.4' id='wp-polyfill-js'></script>
<script type='text/javascript' id='wp-polyfill-js-after'>
( 'fetch' in window ) || document.write( '<script src="../../wp-includes/js/dist/vendor/wp-polyfill-fetch.min.js%3Fver=3.0.0"></scr' + 'ipt>' );( document.contains ) || document.write( '<script src="../../wp-includes/js/dist/vendor/wp-polyfill-node-contains.min.js%3Fver=3.42.0"></scr' + 'ipt>' );( window.DOMRect ) || document.write( '<script src="../../wp-includes/js/dist/vendor/wp-polyfill-dom-rect.min.js%3Fver=3.42.0"></scr' + 'ipt>' );( window.URL && window.URL.prototype && window.URLSearchParams ) || document.write( '<script src="../../wp-includes/js/dist/vendor/wp-polyfill-url.min.js%3Fver=3.6.4"></scr' + 'ipt>' );( window.FormData && window.FormData.prototype.keys ) || document.write( '<script src="../../wp-includes/js/dist/vendor/wp-polyfill-formdata.min.js%3Fver=3.0.12"></scr' + 'ipt>' );( Element.prototype.matches && Element.prototype.closest ) || document.write( '<script src="../../wp-includes/js/dist/vendor/wp-polyfill-element-closest.min.js%3Fver=2.0.2"></scr' + 'ipt>' );( 'objectFit' in document.documentElement.style ) || document.write( '<script src="../../wp-includes/js/dist/vendor/wp-polyfill-object-fit.min.js%3Fver=2.3.4"></scr' + 'ipt>' );
</script>
<script type='text/javascript' src='../../wp-includes/js/dist/hooks.min.js%3Fver=d0188aa6c336f8bb426fe5318b7f5b72' id='wp-hooks-js'></script>
<script type='text/javascript' src='../../wp-includes/js/dist/i18n.min.js%3Fver=6ae7d829c963a7d8856558f3f9b32b43' id='wp-i18n-js'></script>
<script type='text/javascript' id='wp-i18n-js-after'>
wp.i18n.setLocaleData( { 'text direction\u0004ltr': [ 'ltr' ] } );
</script>
<script type='text/javascript' src='../../wp-includes/js/dist/vendor/lodash.min.js%3Fver=4.17.21' id='lodash-js'></script>
<script type='text/javascript' id='lodash-js-after'>
window.lodash = _.noConflict();
</script>
<script type='text/javascript' src='../../wp-includes/js/dist/url.min.js%3Fver=b2a17503b1ff42b789ce34b159a311cf' id='wp-url-js'></script>
<script type='text/javascript' id='wp-api-fetch-js-translations'>
( function( domain, translations ) {
	var localeData = translations.locale_data[ domain ] || translations.locale_data.messages;
	localeData[""].domain = domain;
	wp.i18n.setLocaleData( localeData, domain );
} )( "default", {"translation-revision-date":"2021-08-08 04:43:09+0000","generator":"GlotPress\/3.0.0-alpha.2","domain":"messages","locale_data":{"messages":{"":{"domain":"messages","plural-forms":"nplurals=2; plural=n != 1;","lang":"es"},"You are probably offline.":["Probablemente est\u00e1s desconectado."],"Media upload failed. If this is a photo or a large image, please scale it down and try again.":["La subida de medios ha fallado. Si esto es una foto o una imagen grande, por favor, reduce su tama\u00f1o e int\u00e9ntalo de nuevo."],"An unknown error occurred.":["Ha ocurrido un error desconocido."],"The response is not a valid JSON response.":["Las respuesta no es una respuesta JSON v\u00e1lida."]}},"comment":{"reference":"wp-includes\/js\/dist\/api-fetch.js"}} );
</script>
<script type='text/javascript' src='../../wp-includes/js/dist/api-fetch.min.js%3Fver=25cbf3644d200bdc5cab50e7966b5b03' id='wp-api-fetch-js'></script>
<script type='text/javascript' id='wp-api-fetch-js-after'>
wp.apiFetch.use( wp.apiFetch.createRootURLMiddleware( "/wp-json/" ) );
wp.apiFetch.nonceMiddleware = wp.apiFetch.createNonceMiddleware( "150ffba18c" );
wp.apiFetch.use( wp.apiFetch.nonceMiddleware );
wp.apiFetch.use( wp.apiFetch.mediaUploadMiddleware );
wp.apiFetch.nonceEndpoint = "/wp-admin/admin-ajax.php?action=rest-nonce";
</script>
<script type='text/javascript' id='contact-form-7-js-extra'>
/* <![CDATA[ */
var wpcf7 = [];
/* ]]> */
</script>
<script type='text/javascript' src='../../wp-content/plugins/contact-form-7/includes/js/index.js%3Fver=5.4' id='contact-form-7-js'></script>
<script type='text/javascript' src='../../wp-content/themes/dt-the7/js/legacy.min.js%3Fver=7.6.0' id='dt-legacy-js'></script>
<script type='text/javascript' src='../../wp-content/plugins/dt-the7-core/assets/js/post-type.min.js%3Fver=7.6.0' id='the7pt-js'></script>
<script type='text/javascript' src='../../wp-includes/js/wp-embed.min.js%3Fver=5.7.4' id='wp-embed-js'></script>
<script type='text/javascript' src='../../wp-content/plugins/js_composer/assets/js/dist/js_composer_front.min.js%3Fver=5.7' id='wpb_composer_front_js-js'></script>
<script type='text/javascript' src='../../wp-content/plugins/js_composer/assets/lib/prettyphoto/js/jquery.prettyPhoto.min.js%3Fver=5.7' id='prettyphoto-js'></script>
<script type='text/javascript' src='../../wp-content/plugins/js_composer/assets/lib/bower/masonry/dist/masonry.pkgd.min.js%3Fver=5.7' id='vc_masonry-js'></script>
<script type='text/javascript' src='../../wp-content/plugins/js_composer/assets/lib/owl-carousel2-dist/owl.carousel.min.js%3Fver=5.7' id='vc_pageable_owl-carousel-js'></script>
<script type='text/javascript' src='../../wp-content/plugins/js_composer/assets/lib/bower/imagesloaded/imagesloaded.pkgd.min.js%3Fver=5.7.4' id='vc_grid-js-imagesloaded-js'></script>
<script type='text/javascript' src='../../wp-includes/js/underscore.min.js%3Fver=1.8.3' id='underscore-js'></script>
<script type='text/javascript' src='../../wp-content/plugins/js_composer/assets/lib/waypoints/waypoints.min.js%3Fver=5.7' id='waypoints-js'></script>
<script type='text/javascript' src='../../wp-content/plugins/js_composer/assets/js/dist/vc_grid.min.js%3Fver=5.7' id='vc_grid-js'></script>

<div class="pswp" tabindex="-1" role="dialog" aria-hidden="true">
	<div class="pswp__bg"></div>
	<div class="pswp__scroll-wrap">
		<div class="pswp__container">
			<div class="pswp__item"></div>
			<div class="pswp__item"></div>
			<div class="pswp__item"></div>
		</div>
		<div class="pswp__ui pswp__ui--hidden">
			<div class="pswp__top-bar">
				<div class="pswp__counter"></div>
				<button class="pswp__button pswp__button--close" title="Close (Esc)"></button>
				<button class="pswp__button pswp__button--share" title="Share"></button>
				<button class="pswp__button pswp__button--fs" title="Toggle fullscreen"></button>
				<button class="pswp__button pswp__button--zoom" title="Zoom in/out"></button>
				<div class="pswp__preloader">
					<div class="pswp__preloader__icn">
						<div class="pswp__preloader__cut">
							<div class="pswp__preloader__donut"></div>
						</div>
					</div>
				</div>
			</div>
			<div class="pswp__share-modal pswp__share-modal--hidden pswp__single-tap">
				<div class="pswp__share-tooltip"></div> 
			</div>
			<button class="pswp__button pswp__button--arrow--left" title="Previous (arrow left)">
			</button>
			<button class="pswp__button pswp__button--arrow--right" title="Next (arrow right)">
			</button>
			<div class="pswp__caption">
				<div class="pswp__caption__center"></div>
			</div>
		</div>
	</div>
</div>
</body>
</html>
